.line {
  line-height: 1.5;
  text-align: center;
}

.resumeContent {
  max-width: 50%; // Default size for phone-sized screens.
}

@media (min-width: 600px) {
  .resumeContent {
    max-width: 33%;
  }
}
