.developerName,
.developerPrompt,
.developerTongueInCheck {
  text-align: center;
}

.generatedProfilePicture {
  border-radius: 50%;
}

.profileErrorMessage {
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  font-size: 0.75em;
  height: 256px;
  padding: 106px 8px;
  text-align: center;
  width: 256px;
}

.profileCaption {
  text-align: center;
  font-size: 0.75em;
  margin-top: 12px;
  // initial
  opacity: 0;
  transition: 1s opacity;

  &Shown {
    opacity: 1;
  }
}
