.randomOfTheDayContent {
  margin: 0 auto;
  max-width: 66%; // for desktop size
  padding: 18px;
}

@media (max-width: 600px) {
  .randomOfTheDayContent {
    max-width: 83%;
  }
}

.slide {
  flex: 1;
  font-size: 0.75em;
}

.poemLine {
  min-height: 1px;
}

.poemSeparator {
  height: 2px;
  margin: 1em 0;
}
