.randomOfTheDayContent {
  margin: 0 auto;
  max-width: 66%; // for desktop size
  padding: 18px;
}

.randomCheckbox {
  display: inline-block;

  &:nth-of-type(n + 2) {
    margin-left: 8px;
  }
}

@media (max-width: 600px) {
  .randomOfTheDayContent {
    max-width: 83%;
  }
}
