.randomOfTheDayContent {
  margin: 0 auto;
  max-width: 66%; // for desktop size
  padding: 18px;
}

.controls {
  max-height: 100vh;
  transition: 1s max-height, 1s opacity;

  &Hidden {
    max-height: 0;
    opacity: 0;
    transform: scaleY(0);
  }
}

.hidePageDescription {
  border: none;
  display: block;
  margin: 18px 0 18px auto;

  &:hover {
    text-decoration: underline;
  }
}

.randomCheckbox {
  display: inline-block;

  &:nth-of-type(n + 2) {
    margin-left: 8px;
  }
}

.orderedRandoms {
  width: 50%;
}

@media (max-width: 600px) {
  .randomOfTheDayContent {
    max-width: 83%;
  }
}
