@use 'sass:math';

.card {
  border-radius: 12px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  // 2-3/4" inches to pixels
  height: 264px;
  // 10 point to pixels
  font-size: math.div(40px, 3);
  max-height: 100vh;
  max-width: 100vw;
  position: relative;
  transform: rotateX(180deg) translateY(100%);
  transform-origin: center bottom;
  transition-duration: 2s;
  transition-property: transform;
  transform-style: preserve-3d;
  // 3-3/4" inches to pixels
  width: 360px;

  &Flipped {
    transform: rotateX(0deg);
  }
}

.cardSide {
  align-items: center;
  backface-visibility: hidden;
  border-radius: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 2em;
  position: absolute;
  width: 100%;
}

.cardBack {
  // Card backs were specifically black. !important is justified IMO.
  background-color: black !important;
  border-radius: 12px;
  border-style: none;
  transform: rotateX(180deg);
}
