$switchHeight: 14px;

.switch {
  align-items: center;
  background: purple;
  border-radius: 24px;
  border-style: solid;
  display: inline-flex;
  height: $switchHeight;
  position: relative;
  transition: 0.333s filter;
  width: $switchHeight * 5 / 2;

  &Knob {
    border-radius: 50%;
    border-style: solid;
    box-sizing: border-box;
    height: $switchHeight * 3 / 2;
    min-width: $switchHeight * 3 / 2;
    transform: translateX(-50%);
    transition: transform 0.333s;
  }
}

.switchActive {
  filter: invert(1);

  .switchKnob {
    transform: translateX($switchHeight);
  }
}
