.coverLetter:first-of-type {
  align-items: flex-start;
  line-height: 1.5;
  padding: 8px 18px;
  justify-content: flex-start;
  text-indent: 2em;

  p {
    line-break: anywhere;
    white-space: pre-wrap;
    word-break: break-all;

    &[data-activated] {
      line-break: normal;
      word-break: normal;
    }
  }

  p,
  .videoContainer {
    &:not([data-activated]) {
      opacity: 0;
    }
  }
}

.videoContainer {
  margin: 2em 0;
  overflow: hidden;
  position: relative;
  transform-origin: top left;
}

.upscaleWalkthrough {
  max-width: 83%;
  position: relative;
}

@media (min-width: 1200px) {
  .upscaleWalkthrough {
    max-width: 66%;
  }
}

.loadingScreen {
  margin: 0 auto;
}

.errorMessage {
  font-weight: bold;
}
