.homepage {
  transition: 1s color, 1s background-color;

  a {
    font-weight: bold;
  }
}

.slide {
  transition: 1s transform, 1s opacity;

  &-Swoopy {
    opacity: 0;
    transform: scale(0.1);

    &-activated {
      opacity: 1;
      transform: scale(1);
    }
  }

  &-Sweepy {
    opacity: 0;

    &:nth-of-type(2n) {
      transform: translateX(-50%);
    }

    &:nth-of-type(2n + 1) {
      transform: translateX(50%);
    }

    &-activated:nth-of-type(n) {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.theme {
  &-Sea {
    $backgroundColor: seashell;
    $color: seagreen;

    background-color: $backgroundColor;
    color: $color;

    button {
      background-color: $backgroundColor;
    }

    button,
    a {
      color: $color;
    }

    input[type='radio'] {
      accent-color: $color;
    }

    * {
      border-color: $color;
    }
  }

  &-StarryNight {
    $backgroundColor: midnightblue;
    $color: ivory;

    background-color: $backgroundColor;
    color: $color;

    button {
      background-color: $backgroundColor;
    }

    button,
    a {
      color: $color;
    }

    input[type='radio'] {
      accent-color: $color;
    }

    * {
      border-color: $color;
    }
  }

  &-SalmonBisque {
    $backgroundColor: bisque;
    $color: salmon;

    background-color: $backgroundColor;
    color: $color;

    button {
      background-color: $backgroundColor;
    }

    button,
    a {
      color: $color;
    }

    input[type='radio'] {
      accent-color: $color;
    }

    * {
      border-color: $color;
    }
  }
}
