.homepage {
  transition: 1s color, 1s background-color;
}

.theme {
  &-Sea {
    $backgroundColor: seashell;
    $color: seagreen;

    background-color: $backgroundColor;
    color: $color;

    button {
      background-color: $backgroundColor;
      color: $color;
    }

    * {
      border-color: $color;
    }
  }

  &-StarryNight {
    $backgroundColor: midnightblue;
    $color: ivory;

    background-color: $backgroundColor;
    color: $color;

    button {
      background-color: $backgroundColor;
      color: $color;
    }

    * {
      border-color: $color;
    }
  }

  &-SalmonBisque {
    $backgroundColor: bisque;
    $color: salmon;

    background-color: $backgroundColor;
    color: $color;

    button {
      background-color: $backgroundColor;
      color: $color;
    }

    * {
      border-color: $color;
    }
  }
}
