.navigation {
  border-style: solid;
  border-width: 1px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  transition: 1s background-color ease-in;

  &Links {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    min-width: 0;
    overflow-x: auto;
    padding: 0;

    &Container {
      margin-left: auto;
      min-width: 0;
      overflow-x: hidden;
      position: relative;
      text-align: right;
    }
  }

  &Link {
    border-style: solid;
    border-width: 0 0 0 1px;
    box-sizing: border-box;
    flex: none;
    padding: 16px 8px;

    &.homeLink {
      border-width: 0 1px 0 0;
    }

    &:first-of-type {
      border-width: 0 0 0 2px;
    }

    &:last-of-type {
      border-width: 0 2px 0 1px;
    }
  }
}

.skipLink {
  opacity: 0;
  text-indent: -10000px;
}
