.prosperoPage {
  align-items: stretch;
  flex: 1;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 18px;
}

.book {
  margin: 2em auto;
}

.prosperoHeader {
  max-width: 600px;
}

.description {
  margin: 0 auto;
  max-width: 600px;
}
