.prosperoPage {
  align-items: stretch !important;
  flex: 1;
  justify-content: flex-start !important;
  margin: 0 auto;
}

.book {
  margin: 2em auto;

  &Title,
  &Author {
    text-align: center;
  }
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 1em auto auto auto;
  max-width: 60%;
}

.bookshelf {
  box-sizing: border-box;
  margin: auto;
  width: 80%;
}

.prosperoHeader {
  text-align: center;
}

.prosperoHeader,
.description {
  margin: 0 auto;
  max-width: 600px;
  padding: 18px;
}

.otherReadings {
  margin: auto;
  padding: 1em;
}

.otherReadingsList {
  padding-left: 1em;
}
