.musings {
  font-size: 12px;
  list-style-type: none;
  padding: 0;
}

.listMusing {
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
}

.musing {
  &Description {
    width: 100%;
  }

  &Link {
    flex: 1;
  }

  &Title {
    margin: 0 0 8px 0;
  }
}
