.content {
  height: 66vh;
  max-height: 600px;
  position: relative;
  width: 90%;
}

.openGame {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border-style: solid;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.rpgGame {
  background-color: white;
  height: 100%;
  width: 100%;
}

.outOfFocusMessage {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}
