.museumPage {
  align-items: stretch !important;
  flex: 1;
  justify-content: flex-start !important;
  margin: 0 auto;
  margin: 0 auto;
  max-width: 66%; // for desktop size
  padding: 18px;
}

.museumContainer {
  background: url('https://images.metmuseum.org/CRDImages/as/original/DP120313.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.museum {
  max-width: 100% !important;
}

@media (max-width: 800px) {
  .museumContainer {
    font-size: 12px;
    height: 300px;
  }

  .museum {
    max-height: 300px;
  }
}

@media (min-width: 800px) {
  .museumContainer {
    height: 500px;
  }

  .museum {
    max-height: 500px;
  }
}
