.page {
  position: relative;

  a:not([target='_blank']) {
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}

.pageContent {
  display: flex;
  flex-direction: row;
  position: relative;
  transition: 1s color, 1s background-color;
}

.pageNavigation {
  position: sticky;
  top: 0;
  z-index: 1;
}

@media (max-width: 800px) {
  .pageContent {
    flex-direction: column-reverse;
  }
}

.font {
  &-Arial {
    font-family: Arial, sans-serif;
  }

  &-Roboto {
    font-family: 'Roboto', sans-serif;
  }

  &-ComicSansMS {
    font-family: 'Comic Sans MS', sans-serif;
  }
}

.loadingScreen {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.settingsMenu {
  flex: none;
}

@mixin applyTheme($backgroundColor, $color, $linkColor) {
  background-color: $backgroundColor;
  color: $color;

  button,
  td,
  input,
  .pageNavigation,
  .loadingScreen,
  .settingsMenu {
    background-color: $backgroundColor;
  }

  button,
  input {
    color: $color;
  }

  a {
    color: $linkColor;
  }

  input[type='radio'] {
    accent-color: $color;
  }

  * {
    border-color: $color;
  }
}

.theme {
  &-Ulysses {
    @include applyTheme(#004c98, white, #61a0ff);
  }

  &-Sea {
    @include applyTheme(seashell, seagreen, black);
  }

  &-StarryNight {
    @include applyTheme(midnightblue, ivory, #919191);
  }

  &-SalmonBisque {
    @include applyTheme(bisque, salmon, black);
  }
}
