body {
  margin: 0;
  overflow-x: hidden;
}

button {
  &[disabled] {
    opacity: 0.38;
  }

  &:hover {
    filter: brightness(85%);
  }
}

.prospero__tableOfContentsButton {
  background-color: transparent !important;
}

.prospero__closeButton {
  background-color: black !important;
  color: white !important;
  margin-right: auto;
}
