@import '~node_modules/buzzword-bingo-generator/index.css';

body {
  margin: 0;
  overflow-x: hidden;
}

button {
  &[disabled] {
    opacity: 0.38;
  }

  &:hover {
    filter: brightness(85%);
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 1.25rem;
  }
}
