.settingsHeader {
  text-align: center;
}

.settingsContainer {
  font-size: 12px;

  > * {
    margin-top: 18px;
  }
}

.developerMode {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
