.settingsHeader {
  text-align: center;
}

.settingsContainer {
  font-size: 12px;

  > * {
    margin-top: 18px;
  }
}

.localizedSites {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 8px;

  &Header {
    margin-bottom: 4px;
    width: 100%;
  }
}

.localizedSite {
  &:nth-of-type(n + 2) {
    margin-left: 8px;
  }
}

.languageExplanation {
  width: 100%;
}

.developerMode {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &Switch {
    margin-left: 12px;
  }
}
