$backgroundColorAnimation: 1s background-color ease-in;

.page {
  min-height: 100vh;
  position: relative;
  transition: 1s color, $backgroundColorAnimation;

  a:not([target='_blank']) {
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}

.pageContent {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  position: relative;
}

.pageNavigation {
  position: sticky;
  top: 0;
  z-index: 1;

  &Bottom {
    position: relative;
    z-index: 0;
  }
}

@media (max-width: 800px) {
  .pageContent {
    flex-direction: column-reverse;
  }
}

.font {
  &-Arial {
    &,
    button {
      font-family: Arial, sans-serif;
    }
  }

  &-Bookerly {
    &,
    button {
      font-family: 'Bookerly', sans-serif;
    }
  }

  &-Roboto {
    &,
    button {
      font-family: 'Roboto', sans-serif;
    }
  }

  &-ComicSansMS {
    &,
    button {
      font-family: 'Comic Sans MS', sans-serif;
    }
  }

  &-TiltPrism {
    &,
    button {
      font-family: 'Tilt Prism', sans-serif;
    }
  }

  &-Eater {
    &,
    button {
      font-family: 'Eater', sans-serif;
    }
  }
}

.animation {
  &-Swoopy {
    [data-animatable] {
      position: relative;
      transition: 1s transform, 1s opacity;
    }

    [data-animatable='unactivated'] {
      opacity: 0;
      transform: scale(0.1);

      &[data-animatable='activated'] {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  &-Sweepy {
    [data-animatable] {
      position: relative;
      transition: 1s transform, 1s opacity;
    }

    [data-animatable='unactivated'] {
      opacity: 0;

      &:nth-of-type(2n) {
        transform: translateX(-50%);
      }

      &:nth-of-type(2n + 1) {
        transform: translateX(50%);
      }
    }

    [data-animatable='activated'] {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.loadingScreen {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.settingsMenu {
  flex: none;
}

@mixin applyTheme($backgroundColor, $color, $linkColor) {
  background-color: $backgroundColor;
  color: $color;

  button,
  td,
  input,
  [role='button'],
  [role='tooltip'],
  .pageNavigation,
  .loadingScreen,
  .settingsMenu,
  [data-theme-background] {
    background-color: $backgroundColor;
  }

  button,
  input {
    color: $color;
  }

  a {
    color: $linkColor;
  }

  input[type='radio'],
  input[type='checkbox'] {
    accent-color: $color;
  }

  *:not(:global(.prospero__bookmark)) {
    border-color: $color;
  }
}

.theme {
  &-Monochrome {
    @include applyTheme(white, black, dimgray);
  }

  &-Night {
    @include applyTheme(black, white, gray);
  }

  &-Ulysses {
    @include applyTheme(#004c98, white, #61a0ff);
  }

  &-Sea {
    @include applyTheme(seashell, seagreen, black);
  }

  &-StarryNight {
    @include applyTheme(midnightblue, ivory, #919191);
  }

  &-SalmonBisque {
    @include applyTheme(bisque, salmon, black);
  }
}
