$iconWidth: 36px;
$iconMargin: 18px;
$animationTime: 1s;

.menu {
  background-color: transparent;
  box-sizing: border-box;
  padding: 8px;
  transition: $animationTime width ease-in, $animationTime max-height ease-in,
    $animationTime box-shadow, $animationTime background-color;
  width: $iconWidth + $iconMargin;

  & &Triangle {
    border-color: transparent currentColor transparent transparent !important;

    border-width: 8px;
    border-style: solid;

    transition: $animationTime transform;
  }
}

@media (max-width: 800px) {
  .menu {
    max-height: $iconWidth + $iconMargin;

    &,
    &.menuOpened {
      width: 100%;
    }

    &.menuOpened {
      max-height: 100vh;
    }

    &Icon {
      transform: rotate(270deg);
    }
  }
}

.menuOpened {
  background-color: currentColor;
  box-shadow: -2px 0px 4px rgb(0 0 0 / 20%);
  width: 33%;

  .settings {
    opacity: 1;
    pointer-events: initial;
  }

  .menuIcon {
    filter: invert(1);
  }

  .menuTriangle {
    transform: scale(-1, -1) translateX(-50%);
  }
}

.menuIcon {
  align-items: center;
  border-style: solid;
  display: flex;
  flex-direction: row;
  height: $iconWidth;
  padding: 0;
  transition: $animationTime filter;
  width: $iconWidth;
}

.menuLine {
  align-self: stretch;
  border-left-width: 1px;
  border-style: solid;
  margin-left: auto;
  margin-right: 8px;
}

.settings {
  opacity: 0;
  pointer-events: none;
  transition: $animationTime opacity;
}
